.container{
    display: flex;
    gap: 20px;
    padding: 20px;
    flex: 1;
}
body{
background-color:green;
color: aliceblue;
display:flex;
flex-direction: column;
align-items: center;
}
header{
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    width: 100%;
    text-align: center;
}
footer{
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
    width: 100%;
    text-align: center;
}
aside{
    font-size: 18px;
    margin: 10px;
    padding: 10px;
    border: 2px solid black;
    background-color: yellow;

}
@media screen(max-width:600px){
    .container{
        flex-direction: column;
    }
aside{
    min-width: unset;
    order: 2;
}
main{
    order: 1;
}
nav a{
    flex-direction: column;
    display: flex;
}
